page-login .bc-container {
    position: relative;
}

page-login .bc-container:before {
    content: "";
    background-image: url(http://shamimbeautyparlor.net/wp-content/uploads/2014/06/Shamim-1.3.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}

page-login .bc-container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4)
}

.login-box {
    position: relative;
    width: 100%;
    max-width: 320px;
    padding: 20px;
    height: 480px;
    z-index: 1;
}

.login-box label {
    width: 100%;
}

.login-box label input {
    margin-bottom: 15px;
    color: map-get($colors, light);
}

.login-box label input:hover {
    border: 1px solid map-get($colors, purple);
}

.login-box .confirm-btn {
    background-color: map-get($colors, purple);
    height: 45px;
    display: inline-block;
    width: 100%;
    border: 1px solid map-get($colors, purple-dark);
    color: white;
    font-size: 18px;
}

.login-box .confirm-btn.activated {
    background-color: map-get($colors, purple-dark);
}

.login-box h4 {
    color: white;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 45px;
}

.login-box .facebook-btn {
    position: relative;
    width: 100%;
    padding-left: 40px;
    text-align: left;
    border: 1px solid map-get($colors, blue-dark);
    background-color: map-get($colors, blue);
    color: white;
    height: 45px;
    line-height: 40px;
    font-size: 17px;
}

.login-box .facebook-btn.activated {
    background-color: map-get($colors, blue-dark);
}

.login-box .facebook-btn .logo {
    position: absolute;
    left: 15px;
    top: 1px;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    font-size: 20px;
    z-index: 1;
}

.signup-ref {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    line-height: 45px;
    height: 45px;
    font-weight: bold;
    margin-top: 20px;
}