<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>

  <div class="bc-container login">

    <div class="bc-center">

      <div class="login-box">

        <h4>
          Autentifică-te
        </h4>

        <small class="mini-info">
          Utilizând contul pe care l-ai creat
        </small>

        <div *ngIf="showError.length" class="box-errors">
          <p *ngFor="let error of showError">{{error}}</p>
        </div>

        <label>

          <input type="text" placeholder="E-mail" [(ngModel)]="loginData.email">

        </label>

        <label>

          <input type="password" placeholder="Parolă" [(ngModel)]="loginData.password">

        </label>

        <button class="confirm-btn" (click)="login()">
          Autentifică-te
        </button>

        <small class="mini-info">
          sau
        </small>

        <button type="button" name="button" class="facebook-btn" (click)="loginWithFB()">
          <ion-icon class="logo" name="logo-facebook"></ion-icon>
          Autentifică-te cu Facebook
        </button>

      </div>

    </div>

    <small class="mini-info signup-ref" [navPush]="signupPage">
      Creează-ți acum un cont.
    </small>

  </div>

</ion-content>