<!--
  Generated template for the ModalApptPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content no-bounce>

  <!-- header -->
  <div class="modal-head">
    <button class="close-btn" (click)="closeModal()">
      <ion-icon class="close-btn" ios="ios-close" md="md-close"></ion-icon>
    </button>
    <h4>PROGRAMARE NOUĂ</h4>
    <button class="save-btn" (click)="saveAppt()">
      <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
    </button>
  </div>

  <!-- change type -->
  <div class="change-type">
    <button class="type-appt" (click)="data.type = 'client'" [ngClass]="{active: (data.type === 'client')}">
      <span>
        <ion-icon ios="ios-person" md="md-person"></ion-icon> CLIENT
      </span>
    </button>
    <button class="type-appt" (click)="data.type = 'personal'" [ngClass]="{active: (data.type === 'personal')}">
      <span>
        <ion-icon ios="ios-cafe" md="md-cafe"></ion-icon> PERSONALĂ
      </span>
    </button>
  </div>

  <!-- start time selector -->
  <div class="input-area">
    <span class="left">Ora</span>
    <a class="right">{{data.time}}
      <ion-datetime class="hide-input" minuteValues="{{ '0,' + minutesVal}}" displayFormat="HH : mm | mm" pickerFormat="HH:mm" [(ngModel)]="data.time"></ion-datetime>
    </a>
  </div>
  
  <!-- date selector -->
  <div class="input-area">
    <span class="left">Data</span>
    <a class="right">{{data.date | date: 'dd.MM.yyyy'}}
      <ion-datetime class="hide-input" min="{{minDate}}" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="data.date"></ion-datetime>
    </a>
  </div>

  <!-- service selector -->
  <div *ngIf="data.type === 'client'" class="input-area">
    <span class="left">Serviciu</span>
    <a class="right">
      <span class="selected">{{data.service ? data.service : 'Selecteaza un serviciu'}}</span>
      <ion-select class="hide-input" [(ngModel)]="data.service">
        <ion-option [value]="'banana'">banana1</ion-option>
        <ion-option [value]="'banana2'">banana2</ion-option>
      </ion-select>
    </a>
  </div>

  <!-- duration selector -->
  <div class="input-area">
    <span class="left">Durata</span>
    <a class="right">
      <span class="margin-left" *ngIf="data.duration.split(':')[0] === '01'">{{data.duration.split(':')[0] | number}}</span>
      <span class="margin-left" *ngIf="data.duration.split(':')[0] === '01'">oră</span>
      <span class="margin-left" *ngIf="data.duration.split(':')[0] !== '01' && data.duration.split(':')[0] !== '00'">{{data.duration.split(':')[0] | number}}</span>
      <span class="margin-left" *ngIf="data.duration.split(':')[0] !== '01' && data.duration.split(':')[0] !== '00'">ore</span>
      
      <span class="margin-left" *ngIf="data.duration.split(':')[0] !== '00'">{{' si '}}</span>

      <span class="margin-left">{{data.duration.split(':')[1] | number}}</span>
      <span class="margin-left" *ngIf="data.duration.split(':')[1] === '01'">{{' minut'}}</span>
      <span class="margin-left" *ngIf="data.duration.split(':')[1] !== '01'">{{' minute'}}</span>

      <ion-datetime class="hide-input" minuteValues="{{minutesVal}}" displayFormat="H : m" pickerFormat="H:m" [(ngModel)]="data.duration"></ion-datetime>
    </a>
  </div>

  <!-- mentions -->
  <div class="mentions">
    <ion-textarea max="400" [(ngModel)]="data.mentions" placeholder="Menţiuni"></ion-textarea>
  </div>

</ion-content>