page-modal-appt .scroll-content,
page-modal-appt ion-content {
    padding: 0!important;
}

page-modal-appt .modal-head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: map-get($colors, grey-light);
    color: map-get($colors, dark-light);
    border-bottom: 1px solid map-get($colors, grey);
    z-index: 2;
}

page-modal-appt .modal-head h4 {
    width: 100%;
    line-height: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

page-modal-appt .modal-head .close-btn {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    font-size: 29px;
    background-color: map-get($colors, light);
    color: map-get($colors, dark);
    padding: 0;
}

page-modal-appt .modal-head .save-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    display: inline-block;
    line-height: 0;
    text-align: center;
    font-size: 29px;
    background-color: map-get($colors, purple);
    color: map-get($colors, light);
    padding: 0;
}

page-modal-appt .modal-head .close-btn ion-icon {
    padding: 0;
    margin: 0;
}

page-modal-appt .change-type {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid map-get($colors, grey);
}

page-modal-appt .change-type .type-appt {
    position: relative;
    width: 50%;
    height: 100%;
    display: inline-block;
    line-height: 50px;
    float: left;
    text-align: center;
    padding: 0;
    background-color: transparent;
    color: map-get($colors, dark);
    font-size: 14px;
}

page-modal-appt .change-type .type-appt span {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    display: table;
    text-align: center;
}

page-modal-appt .change-type .type-appt span ion-icon {
    position: relative;
    top: 1px;
}

page-modal-appt .change-type .type-appt:nth-child(1) span {
    right: 75px;
    transform: translate(50%, 0);
}

page-modal-appt .change-type .type-appt:nth-child(2) span {
    left: 75px;
    transform: translate(-50%, 0);
}

page-modal-appt .change-type .type-appt:nth-child(1) {
    text-align: right;
}

page-modal-appt .change-type .type-appt:nth-child(1):before {
    content: "";
    position: absolute;
    width: 150px;
    height: 30px;
    top: 10px;
    right: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: inline-block;
    background-color: map-get($colors, grey-light);
    z-index: 0;
}

page-modal-appt .change-type .type-appt:nth-child(2) {
    text-align: left;
}

page-modal-appt .change-type .type-appt:nth-child(2):before {
    content: "";
    position: absolute;
    width: 150px;
    height: 30px;
    top: 10px;
    left: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: inline-block;
    background-color: map-get($colors, grey-light);
    z-index: 0;
}

page-modal-appt .change-type .type-appt.active:before {
    background-color: map-get($colors, purple);
}

page-modal-appt .change-type .type-appt.active {
    background-color: white;
    color: map-get($colors, light);
}

page-modal-appt .input-area {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid map-get($colors, grey);
    padding: 0 15px;
    font-size: 15px;
}

page-modal-appt .input-area .left {
    float: left;
    color: map-get($colors, dark);
}

page-modal-appt .input-area .right {
    position: absolute;
    left: 0;
    float: right;
    width: calc(100% - 15px);
    font-weight: bold;
    text-align: right;
    height: 100%;
    color: map-get($colors, dark);
}

page-modal-appt .input-area .right .hide-input {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    opacity: 0;
    z-index: 9;
    max-width: 100%;
}

page-modal-appt .selected {
    position: absolute;
    right: 0;
}

page-modal-appt .hide-area {
    position: absolute;
    left: 100%;
    top: 0;
    opacity: 0;
}

page-modal-appt .margin-left {
    margin-left: 3px;
}

page-modal-appt .mentions textarea {
    padding: 0 15px;
    line-height: 20px;
    margin: 15px 0;
    height: 100vh;
    max-height: calc(100vh - 330px);
    min-height: 100px;
}