
page-modal-contact-new .modal-head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: map-get($colors, grey-light);
    color: map-get($colors, dark-light);
    border-bottom: 1px solid map-get($colors, grey);
    z-index: 2;
}

page-modal-contact-new .modal-head h4 {
    width: 100%;
    line-height: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

page-modal-contact-new .modal-head .close-btn {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    font-size: 29px;
    background-color: map-get($colors, light);
    color: map-get($colors, dark);
    padding: 0;
}

page-modal-contact-new .modal-head .save-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    display: inline-block;
    line-height: 0;
    text-align: center;
    font-size: 29px;
    background-color: map-get($colors, purple);
    color: map-get($colors, light);
    padding: 0;
}

page-modal-contact-new .modal-head .close-btn ion-icon {
    padding: 0;
    margin: 0;
}

page-modal-contact-new .content {
    padding-top: 50px;
}

page-modal-contact-new .content .input {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid map-get($colors, grey);
    line-height: 50px;
    padding: 0 15px;
}

page-modal-contact-new .content .input input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 0;
    text-align: right;
}