<!--
  Generated template for the ModalContactNewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content no-bounce>

  <!-- header -->
  <div class="modal-head">
    <button class="close-btn" (click)="closeModal()">
              <ion-icon class="close-btn" ios="ios-close" md="md-close"></ion-icon>
            </button>
    <h4>ADAUGĂ CLIENT</h4>
    <button class="save-btn" (click)="saveAppt()">
              <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
            </button>
  </div>

  <div class="content">

    <!-- name -->
    <div class="input">
      <span class="left">
          Nume*
        </span>
      <input type="text">
    </div>

    <!-- email -->
    <div class="input">
        <span class="left">
            Email
          </span>
        <input type="text">
      </div>

      <!-- phone -->
    <div class="input">
        <span class="left">
            Telefon
          </span>
        <input type="text">
      </div>

  </div>

</ion-content>