page-dashboard {

}

page-dashboard .tabbar .tab-button {
    position: relative;
    background-color: map-get($colors, dark-light);
    color: map-get($colors, light) !important;
    padding-left: 1px;
}

page-dashboard .tabbar .tab-button .tab-button-icon {
    color: map-get($colors, light) !important;
}

page-dashboard .tabbar .tab-button:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: map-get($colors, dark);
    right: 0;
    top: 0;
}

page-dashboard .tabbar .tab-button[aria-selected=true] {
    background-color: map-get($colors, dark) !important;
    color: map-get($colors, purple-light) !important;
}

page-dashboard .tabbar .tab-button[aria-selected=true] .tab-button-icon {
    color: map-get($colors, purple-light) !important;
}

page-dashboard .tabbar .tab-badge {
    background-color: map-get($colors, red);
}

.dissable-scroll .scroll-content {
    overflow: hidden !important;
}