<ion-tabs #dashTabs>
    <ion-tab [root]="analyticsRoot" tabTitle="Rapoarte" tabIcon="analytics"></ion-tab>
    <ion-tab [root]="notificationsRoot" [tabBadge]="2" tabTitle="Notificări" tabIcon="notifications"></ion-tab>
    <ion-tab class="dissable-scroll" [root]="schedulerRoot" tabTitle="Programări" tabIcon="calendar"></ion-tab>
    <ion-tab [root]="clientsRoot" tabTitle="Clienţi" tabIcon="people"></ion-tab>
    <ion-tab [root]="settingsRoot" tabTitle="Setări" tabIcon="settings"></ion-tab>
    <!--shortcut menu-->
    <shortcut-menu></shortcut-menu>
</ion-tabs>