<!--
  Generated template for the ClientsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>

  <div class="bc-header">
    <h4>Clienti</h4>
  </div>

  <div class="placeholder">

    <div class="info margin-auto">
      <h4> Ai nevoie de clienți! </h4>
      <p>Adaugă acum clienți pentru a ține evidența și de a comunică ușor cu ei!</p>
      <p>Lista de clienți este necesară pentru a realiza programări noi.</p>
    </div>

    <button (click)="importClients()" class="margin-auto">Adaugă din lista de contacte</button>

    <a (click)="newClient()">Adaugă client nou</a>

    <p class="security margin-auto-top"> <ion-icon ios="ios-lock" md="md-lock"></ion-icon> <small> Informațiile despre clienți sunt private și nu vor fi publice niciodată </small> </p>

  </div>

</ion-content>