page-clients {

}

page-clients .placeholder {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    align-items: center;
    color: map-get($colors, dark);
}

page-clients .placeholder .margin-auto {
    margin: auto 0;
}

page-clients .placeholder .margin-auto-top {
    margin-top: auto;
}

page-clients .placeholder button {
    width: 100%;
    height: 50px;
    line-height: 48px;
    border-radius: 25px;
    font-size: 14px;
    background-color: map-get($colors, purple);
    color: map-get($colors, light);
    max-width: 300px;
    text-transform: uppercase;
    font-weight: bold;
    min-height: 50px;
}

page-clients .placeholder button.activated {
    background-color: map-get($colors, purple-light);
}

page-clients .placeholder .info {
    max-width: 300px;
    text-align: center;
}

page-clients .placeholder .info h4 {
    font-size: 24px;
}

page-clients .placeholder .security {
    margin-bottom: 60px;
}

page-clients .placeholder a {
    color: map-get($colors, dark);
    font-weight: bold;
    text-transform: uppercase;
    min-height: 50px;
    height: 50px;
    line-height: 50px;
}