<!-- Generated template for the CalendarComponent component -->

<div class="calendar-wrapper">

  <!-- current day -->
  <div class="day-calendar">
    <!-- <ion-icon (click)="scrollTo('el120')" class="left" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>  -->
    <a class="day" (click)="toggleDays = !toggleDays">
      <span class="info">{{day}}</span>
      <span class="date">{{date}}</span>
    </a>
    <!-- <ion-icon class="right" ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon> -->
  </div>

  <!-- days selector -->

  <div class="days-selector" *ngIf="toggleDays">

    <button *ngFor="let item of daysList" [ngClass]="{active: (item.date === date)}" (click)="changeDay(item)">
      <span class="info">{{item.day}}</span>
      <span class="date">{{item.date}}</span>
    </button>

    <button class="close-btn" (click)="toggleDays = false">Închide</button>

  </div>


  <!-- staff -->
  <ion-slides class="staff-slider" #workerStaff slidesPerView="{{maxStaffPerSlide}}" [ngStyle]="{height: 45 + 'px'}" *ngIf="loadComplete">
    <ion-slide *ngFor="let worker of staff">
      <div class="worker-name">
        <div class="avatar" [ngStyle]="{'background-image': 'url('+tPic+')'}">
          <ion-icon *ngIf="!tPic" ios="ios-contact" md="md-contact"></ion-icon>
        </div>
        {{'Cosmin'}}</div>
    </ion-slide>
  </ion-slides>

  <!-- <ion-content> -->
  <ion-content #hoursList class="hours" *ngIf="hours.length > 0">
    <a [id]="'el' + hour.hour + hour.minute" (tap)="addAppt(hour, date)" (touchstart)="hour.press=true" (touchend)="hour.press=false"
      class="hour" *ngFor="let hour of hours" [ngClass]="{active: !hour.minute, press: hour.press}">
      {{("00"+hour.hour).slice(-2)}}:{{("00"+hour.minute).slice(-2)}}
    </a>

    <!--inject appointments-->
    <ion-slides class="slider-calendar" #sliderCalendar slidesPerView="{{maxStaffPerSlide}}" [ngStyle]="{height: 45 * hours.length + 'px'}"
      *ngIf="loadComplete">

      <ion-slide *ngFor="let worker of staff">

        <a [id]="'el' + hour.hour + hour.minute" (tap)="addAppt(hour, date)" (touchstart)="hour.press=true" (touchend)="hour.press=false"
          class="hour" *ngFor="let hour of hours" [ngClass]="{active: !hour.minute, press: hour.press}">
        </a>

        <div class="appointments-wrapper" ng-click="reOrganize()">

          <div *ngFor="let group of groupAppts" class="group" [ngStyle]="{'top': ( (group[0].start.hour * (45 * 4) + group[0].start.minute * 45/15)) + 'px'}">

            <div *ngFor="let appt of group; let i = index" class="appt" [ngStyle]="{'width': (group.length > 1 ? 'calc(50% - ' + i * 2 + 'px)' : '100%'), 
            left: (i % 2 ? 'calc(50% + ' + i * 2 + 'px)' : 'calc(0% + ' + i * 2 + 'px)'), 
            top: ( ((appt.start.hour * (45 * 4) + appt.start.minute * 45/15) - (group[0].start.hour * 45 * 4 + group[0].start.minute * 45/15)) ) + 'px',
            height: (appt.duration * (45 / 15)) + 'px'}">

              <div class="info-appt" [ngClass]="{client: (appt.type === 'client'), personal: (appt.type === 'personal')}">

                <span class="title">{{appt.title}}</span>
                <ion-icon class="description-icon" *ngIf="appt.description" ios="ios-information-circle" md="md-information-circle"></ion-icon>

              </div>

            </div>

          </div>
        </div>

      </ion-slide>

    </ion-slides>


  </ion-content>
  <!-- </ion-content> -->

</div>