calendar {
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

calendar .calendar-wrapper {
    overflow: hidden;
}

.tabs-ios calendar .hours {
    height: calc(100% - 50px);
}

calendar .hours {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: calc(100% - 60px);
    padding: 0;
    margin: 0;
    display: inline-block;
    z-index: 1;
    overflow: auto;
}

calendar .hours .scroll-content {
    margin-bottom: 0!important;
    overflow: auto!important;
}

calendar .hours a {
    position: relative;
    width: 100%;
    display: block;
    border-bottom: 1px solid map-get( $colors, grey);
    height: 45px;
    font-size: 12px;
    line-height: 45px;
    padding-left: 15px;
    color: map-get( $colors, grey);
    z-index: 1;
}

calendar .hours a.active {
    font-size: 14px;
    color: map-get( $colors, dark);
}

calendar .hours a.active.press {
    font-size: 15px;
    color: map-get( $colors, red);
}

calendar .hours a.press {
    font-size: 13px;
    color: map-get( $colors, red);
}

calendar .appointments-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 1;
    height: 1px;
}

calendar .appointments-wrapper .group {
    position: absolute;
    width: 100%;
    display: inline-block;
    min-height: 10px;
    left: 0;
}

calendar .appointments-wrapper .group .appt {
    position: absolute;
    padding: 1px 5px;
    float: left;
    display: inline-block;
    box-sizing: border-box;
}

calendar .appointments-wrapper .group .appt .info-appt {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 5px;
    transition: 0.3s all;
}

calendar .appointments-wrapper .group .appt .info-appt.client {
    border-left: 2px solid map-get($colors, purple);
    background-color: map-get($colors, purple-transparent);
}

calendar .appointments-wrapper .group .appt .info-appt.personal {
    border-left: 2px solid map-get($colors, orange);
    background-color: map-get($colors, orange-transparent);
}

calendar .appointments-wrapper .group .appt .info-appt .title {
    font-size: 15px;
    color: map-get($colors, dark);
    display: block;
}

calendar .appointments-wrapper .group .appt .info-appt .description-icon {
    position: absolute;
    font-size: 22px;
    margin-top: 10px;
    bottom: 5px;
    right: 10px;
}

calendar .appointments-wrapper .group .appt .info-appt.client .description-icon {
    color: map-get($colors, purple);
}

calendar .appointments-wrapper .group .appt .info-appt.personal .description-icon {
    color: map-get($colors, orange);
}

calendar .day-calendar {
    position: relative;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background-color: map-get($colors, light);
    z-index: 2;
    border-bottom: 1px solid map-get($colors, grey);
}

calendar .day-calendar .day {
    text-align: center;
    margin: 0;
    color: map-get($colors, dark-light);
}

calendar .day-calendar .day .info {
    padding-top: 8px;
    display: block;
    font-size: 15px;
    text-transform: capitalize;
}

calendar .day-calendar .day .date {
    display: block;
}

calendar .day-calendar .left {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-100px,0,0);
    line-height: 50px;
    font-size: 35px;
    color: map-get($colors, dark-light);
    width: 50px;
    text-align: center;
}

calendar .day-calendar .right {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate3d(100px,0,0);
    line-height: 50px;
    font-size: 35px;
    color: map-get($colors, dark-light);
    width: 50px;
    text-align: center;
}

calendar .days-selector {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 0;
    z-index: 10;
    padding: 5px;
    margin: 0;
    max-width: 500px;
    background-color: rgba(255,255,255,0.8);
    border-bottom: 1px solid map-get($colors, grey);
    max-height: calc(100vh - 100px);
    overflow: auto;
}

calendar .days-selector button {
    width: calc(50% - 10px);
    float: left;
    text-align: center;
    list-style: none;
    background-color: map-get($colors, dark-light);
    height: 50px;
    color: map-get($colors, light);
    border: 1px solid map-get($colors, dark);
    margin: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2px;
}

calendar .days-selector button.active {
    background-color: map-get($colors, dark);
    color: map-get($colors, purple-light);
}

calendar .days-selector button .info {
    text-transform: capitalize;
    font-size: 15px;
}

calendar .days-selector .close-btn {
    width: calc(100% - 10px);
    border-radius: 2px;
    border: 1px solid map-get($colors, grey);
    background-color: map-get($colors, light);
    color: map-get($colors, dark);
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-transform: uppercase;
    margin: 5px;
    display: inline-block;
}

calendar .days-selector .close-btn.activated {
    background-color: map-get($colors, grey-light);
}

calendar .slider-calendar {
    position: absolute;
    top: 0;
    width: calc(100% - 60px);
    left: 60px;
}

calendar ion-slide {
    border-right: 1px solid map-get($colors, grey);
}

calendar ion-slide:last-child {
    border: 0;
}

calendar .staff-slider {
    position: fixed;
    top: 50px;
    width: calc(100% - 60px);
    left: 60px;
    z-index: 9;
}


calendar .staff-slider ion-slide {
    border-right-width: 0;
}

calendar .worker-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: rgba(0,0,0,0.5);
    color: map-get($colors, light);
    text-align: left;
    padding: 0 10px 0 55px;
}

calendar .worker-name .avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 100%;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: map-get($colors, dark-light);
    text-align: center;
    line-height: 45px;
    color: map-get($colors, grey);
    font-size: 25px;
}