// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../../node_modules/@angular/material/prebuilt-themes/indigo-pink";

ion-navbar.toolbar {
    background-color: #313130;
}

body {
    background-color: white;
}

.bc-header {
    width: 100%;
    background-color: map-get($colors, light);
    border-bottom: 1px solid map-get($colors, grey-light);
    height: 50px;
    display: inline-block;
}

.bc-header h4 {
    text-align: center;
    margin: 0;
    line-height: 50px;
}

.bc-navbar {
    position: relative;
    width: 100%;
    height: 50px;
    display: inline-block;
    color: white;
}

.bc-navbar .bc-title {
    text-align: center;
    line-height: 50px;
    font-size: 22px;
}

.bc-container {
    width: 100%;
    height: 100%;
}

.bc-center {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 100%;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid map-get($colors, grey);
    padding: 0 15px;
}

.mini-info {
    color: white;
    text-align: center;
    margin: 10px 0;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    width: 100%;
}