shortcut-menu {

}

shortcut-menu .overlay.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.tabs-ios shortcut-menu .open-btn ion-icon {
    bottom: 54px;
}

shortcut-menu .open-btn ion-icon{
    position: absolute;
    bottom: 59px;
    right: 4px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    text-align: center;
    line-height: 52px;
    background-color: map-get($colors,red);
    color: white;
    font-size: 28px;
    transition: 0.2s all;
    transform: rotate3d(0,0,0,45deg);
}

shortcut-menu .open-btn ion-icon.active {
    transform: rotate3d(0,0,0.5,-45deg);
    background-color: map-get($colors, dark-light);
}

.tabs-ios shortcut-menu .menu {
    bottom: 55px;
}

shortcut-menu .menu {
    position: absolute;
    bottom: 60px;
    right: 5px;
    width: 50px;
    height: auto;
    display: inline-block;
    transform: translate3d(0, -50px ,0);
}

shortcut-menu .menu .bubble {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 25px;
    background-color: map-get($colors, purple);
    margin-bottom: 10px;
    text-align: center;
    line-height: 50px;
    transition: 0.2s all;
    color: white;
    font-size: 18px;
    padding: 0;
}

shortcut-menu .menu .bubble .cover {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
    transform: rotate3d(0,0,1, 45deg) scale3d(0,0,0);
    transition: 0.2s all;
}

shortcut-menu .menu .bubble.active .cover {
    transform: rotate3d(0,0,0, 0deg) scale3d(1,1,1);
}

shortcut-menu .menu .bubble:nth-child() {
    transform: translate3d(0,calc(60px * 4),0);
    background-color: map-get($colors, gold);
}

shortcut-menu .menu .bubble:nth-child(1) {
    transform: translate3d(0,calc(60px * 3),0);
    background-color: map-get($colors, orange);
}

shortcut-menu .menu .bubble:nth-child(2) {
    transform: translate3d(0,calc(60px * 2),0);
    background-color: map-get($colors, blue);
}
shortcut-menu .menu .bubble:nth-child(3) {
    transform: translate3d(0,calc(60px * 1),0);
    background-color: map-get($colors, purple);
}

shortcut-menu .menu .bubble.active {
    transform: translate3d(0,0,0);
}

shortcut-menu .menu .bubble .info {
    position: absolute;
    right: 55px;
    top:0;
    bottom: 0;
    margin: auto 0;
    height: 20px;
    display: inline-table;
    background-color: map-get($colors, dark);
    line-height: 16px;
    font-size: 14px;
    padding: 3px 5px;
    border-radius: 3px;
}