<!-- Generated template for the ShortcutMenuComponent component -->

<!--overlay-->
<a class="overlay" [ngClass]="{active: toggle}" touchable (click)="openMenu()">
</a>

<!--menu-->
<div class="menu">
  <!-- <button class="bubble" [ngClass]="{active: toggle}">
    <div class="cover">
      <ion-icon ios="ios-bowtie" md="md-bowtie"></ion-icon>
      <span class="info">Promotie</span>
    </div>
  </button> -->
  <button class="bubble" [ngClass]="{active: toggle}">
    <div class="cover">
      <ion-icon ios="ios-cafe" md="md-cafe"></ion-icon>
      <span class="info">Timp personal</span>
    </div>
  </button>
  <button class="bubble" [ngClass]="{active: toggle}">
    <div class="cover">
      <ion-icon ios="ios-people" md="md-people"></ion-icon>
      <span class="info">Clienti</span>
    </div>
  </button>
  <button class="bubble" [ngClass]="{active: toggle}" (click)="addAppt()">
    <div class="cover">
      <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
      <span class="info">Programare noua</span>
    </div>
  </button>
</div>

<!--open menu-->
<button class="open-btn">
  <ion-icon ios="ios-add" md="md-add" (click)="openMenu()" [ngClass]="{active: toggle}"></ion-icon>
</button>