<!--
  Generated template for the NotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>

  <div class="bc-header">
    <h4>Notificari</h4>
  </div>

  <ul class="notification-list">
    <li class="notification" *ngFor="let notification of notificationsData">
      <div class="avatar">
        <ion-icon class="placeholder" ios="ios-person" md="md-person"></ion-icon>
      </div>
      <div class="content">
        <span class="title">
          <b>{{notification.client}}</b> ti-a trimis o cerere de programare pentru <b>astazi, {{notification.date}}</b>, la ora <b>{{("00"+notification.hour).slice(-2)}}:{{("00"+notification.minute).slice(-2)}}</b>.
          <p>Serviciu: <b>{{notification.service}}</b>.</p>
        </span>
        <p class="btn-group">
          <button class="confirm" (click)="confirm()">Confirma</button>
          <button class="cancel" (click)="cancel()">Anuleaza</button>
        </p>
      </div>
    </li>
  </ul>

</ion-content>