page-notifications {

}

page-notifications .notification-list {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    padding-left: 0;
    overflow: auto;
    margin: 0;
}

page-notifications .notification-list .notification {
    list-style: none;
    display: inline-block;
    border-bottom: 1px solid map-get($colors, grey);
    font-size: 14px;
    width: 100%;
}

page-notifications .notification-list .notification .avatar {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: map-get($colors, grey);
    display: inline-block;
    float: left;
    margin: 10px 15px;
    overflow: hidden;
}

page-notifications .notification-list .notification .avatar .placeholder {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
    text-align: center;
    font-size: 55px;
    line-height: 70px;
    color: map-get($colors, light);
}

page-notifications .notification-list .notification .content {
    float: right;
    width: calc(100% - 80px);
    display: inline-block;
    margin: 10px 0;
}

page-notifications .notification-list .notification .content button.confirm {
    height: 40px;
    padding: 0 10px;
    background-color: map-get($colors, secondary);
    color: map-get($colors, light);
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    margin-top: 10px;
}

page-notifications .notification-list .notification .content button.confirm.activated {
    background-color: map-get($colors, green);
}

page-notifications .notification-list .notification .content button.cancel {
    height: 40px;
    padding: 0 10px;
    background-color: map-get($colors, red);
    color: map-get($colors, light);
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    margin-top: 10px;
}


page-notifications .notification-list .notification .content button.cancel.activated {
    background-color: map-get($colors, danger);
}

page-notifications .notification-list .notification p {
    margin: 0;
}