<!--
  Generated template for the SchedulerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>

  <calendar></calendar>

</ion-content>