page-modal-contact-import .modal-head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: map-get($colors, grey-light);
    color: map-get($colors, dark-light);
    border-bottom: 1px solid map-get($colors, grey);
    z-index: 2;
}

page-modal-contact-import .modal-head h4 {
    width: 100%;
    line-height: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

page-modal-contact-import .modal-head .close-btn {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    font-size: 29px;
    background-color: map-get($colors, light);
    color: map-get($colors, dark);
    padding: 0;
}

page-modal-contact-import .modal-head .save-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    display: inline-block;
    line-height: 0;
    text-align: center;
    font-size: 29px;
    background-color: map-get($colors, purple);
    color: map-get($colors, light);
    padding: 0;
}

page-modal-contact-import .modal-head .close-btn ion-icon {
    padding: 0;
    margin: 0;
}

page-modal-contact-import .content {
    padding-top: 50px;
}

page-modal-contact-import .option-bar {
    position: relative;
    width: 100%;
    height: 50px;
    display: inline-block;
    border-bottom: 1px solid map-get($colors, grey);
    float: left;
}

page-modal-contact-import .option-bar button {
    width: 50%;
    float: left;
    height: 100%;
    border: 0;
    background-color: map-get($colors, light);
    font-size: 13px;
}

page-modal-contact-import .option-bar button.activated {
    background-color: map-get($colors, grey);
}

page-modal-contact-import .search {
    position: relative;
    width: 100%;
    height: 50px;
    display: inline-block;
    border-bottom: 1px solid map-get($colors, grey);
}

page-modal-contact-import .search input {
    width: 100%;
    height: 100%;
    display: inline-block;
    border: 0;
    margin: 0;
    padding: 0 15px 0 65px;
    font-size: 15px;
    color: map-get($colors, dark);
}

page-modal-contact-import .search .search-icon {
    position: absolute;
    top: 0;
    left: 15px;
    width: 35px;
    height: 100%;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    color: map-get($colors, dark-light);
}

page-modal-contact-import .list {
    width: 100%;
    height: calc(100vh - 150px);
    display: inline-block;
    overflow: auto;
    padding: 0;
    margin: 0;
}

page-modal-contact-import .list li {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid map-get($colors, grey);
}

page-modal-contact-import .list li .avatar {
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    color: map-get($colors, dark-light);
    border: 1px solid map-get($colors, grey);
    border-radius: 50%;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}

page-modal-contact-import .list li .check-btn {
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    color: map-get($colors, dark-light);
    border: 1px solid map-get($colors, grey);
    border-radius: 50%;
    margin: 0 15px 0 auto;
    font-size: 20px;
}

page-modal-contact-import .list li .check-btn.selected {
    color: map-get($colors, purple-dark);
    border: 1px solid map-get($colors, purple-dark);
}