<!--
  Generated template for the ModalContactImportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content no-bounce>

  <!-- header -->
  <div class="modal-head">
    <button class="close-btn" (click)="closeModal()">
      <ion-icon class="close-btn" ios="ios-close" md="md-close"></ion-icon>
    </button>
    <h4>IMPORTĂ CONTACTE</h4>
    <button class="save-btn" (click)="saveAppt()">
      <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
    </button>
  </div>

  <div class="content">

    <!-- option bar -->
    <div class="option-bar">
      <button>SELECTEAZA TOT</button>
      <button>DESELECTEAZA TOT</button>
    </div>

    <!-- search field -->
    <div class="search">
      <ion-icon class="search-icon" ios="ios-search" md="md-search"></ion-icon>
      <input type="text" placeholder="Caută în lista de contacte">
    </div>

    <!-- list -->
    <ul class="list">
      <li *ngFor="let contact of contactsData">
        <span class="avatar">{{contact.name.split('')[0]}}</span>
        <span class="name">{{contact.name}}</span>
        <button [ngClass]="{selected: contact.selected}" class="check-btn" (tap)="contact.selected=!contact.selected">
          <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
        </button>
      </li>
    </ul>

  </div>

</ion-content>