<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>

  <div class="bc-container">

    <div class="bc-center">

      <div class="signup-box">

        <h4>
          Creează un cont nou
        </h4>

        <div *ngIf="showError.length" class="box-errors">
          <p *ngFor="let error of showError">{{error}}</p> 
        </div>

        <label>

          <input type="text" placeholder="Email" [(ngModel)]="signupData.email">

        </label>

        <label>

          <input type="password" placeholder="Parolă" [(ngModel)]="signupData.password">

        </label>

        <label>

          <input type="password" placeholder="Confirmare Parolă" [(ngModel)]="rePassword">

        </label>

        <button class="confirm-btn" (click)="signup()">
          Creează contul
        </button>

      </div>

    </div>

    <small class="mini-info signup-ref" navPop>
     Autentifică-te
    </small>

  </div>
</ion-content>